html, body {
  width: 100%;
  height: 100%;
}

/* HEADER */
.custom-navbar {
  width: 100%;
  height: 80px;
}

/* SLIDER */
.carousel-item {
  height: 600px;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* WORK */
.work-section {
  width: 100%;
  height: 700px;
}

.work-container {
  width: 1100px;
  height: 500px;
}

.work-card img {
  height: 250px;
  object-fit: cover;
}

/* CONTACT */
.contact-section {
  width: 100%;
  height: 600px;
}

.contact-form {
  width: 500px;
  height: 380px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 120px;
}
